[Unit]
Description=Blower/Thermocouple Testing Application (CG5-CHAS-E-019 V2.1+)
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/chvt 7
ExecStart=/usr/bin/openvt -c 7 -s -w -- sudo -H -u BLOWER_USER INSTALL_DIR/bin/PROGRAM_NAME --run

[Install]
WantedBy=multi-user.target
