[Unit]
Description=Blower/Thermocouple Testing Application (CG5-CHAS-E-019 V2.1+)
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/openvt -c 7 -s -w INSTALL_DIR/bin/PROGRAM_NAME

[Install]
WantedBy=multi-user.target
